<!--<div class="py-5 text-center">-->
<!--    <h2>{{ site.data.heading.text }}</h2>-->
<!--    <p class="lead">{{ site.data.heading.subtext }}</p>-->
<!--</div>-->

<div class="container">
    <div class="row text-center">
        <div class="col-md-4 col-xs-12 border-right">
            <img src="{{ site.data.exits.maps.icon }}" class="img-fluid mx-auto" alt="Map">
            <p>{{ site.data.exits.maps.blurb }}</p>
            <a href="{{ site.data.exits.maps.link }}" role="button" class="btn btn-primary btn-lg">{{ site.data.exits.maps.button }}</a>
        </div>
        <div class="col-md-4 col-xs-12 border-right">
            <img src="{{ site.data.exits.research.icon }}" height="133" width="133" alt="Research">
            <p>{{ site.data.exits.research.blurb }}</p>
            <a href="{{ site.data.exits.research.link }}" role="button" class="btn btn-secondary btn-lg">{{ site.data.exits.research.button }}</a>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="{{ site.data.exits.about.icon }}" height="133" width="133" alt="About Us">
            <p>{{ site.data.exits.about.blurb }}</p>
            <a href="{{ site.data.exits.about.link }}" role="button" class="btn btn-secondary btn-lg">{{ site.data.exits.about.button }}</a>
        </div>
    </div>
</div>
