<div class="container">
    <div class="py-5 text-center">
        <h2>Global Irrigation Map</h2>
        <p class="lead">Interactive, zoomable maps with Google Earth</p>
    </div>
</div>

<p>On this page, you can explore the maps we produced.</p>

<div class="alert alert-primary text-center mb-5" role="alert">
    NOTE: Take some time to read the tips below, before you explore the maps.<br>
    <img src="/assets/images/tips.png" class="img-fluid pt-3" width="100%">
</div>

<h3>Extent of Irrigated Croplands, 2000</h3>

This map represents the output of our model for the year 2000.  As shown in the legend, green areas represent known
irrigated farmlands.  The model also marks many new areas as irrigated: we have shown such areas in pink.  The
intensity of color represents the confidence the model has about its detection.

<div class="embed-responsive embed-responsive-4by3 mt-2 mb-5">
    <iframe class="embed-responsive-item lazy" src="https://deepakna.users.earthengine.app/view/global-irrigated-croplands" allowfullscreen></iframe>
</div>

<h3>Change in Irrigation, 2000-18</h3>

This map shows the difference in croplands between the years 2000 and 2018.  Newly irrigated areas are in red, and areas
no longer irrigated are in green.  As before, the intensity of color represents the degree of change.

<div class="embed-responsive embed-responsive-4by3 mt-2 mb-5">
    <iframe class="embed-responsive-item lazy" src="https://deepakna.users.earthengine.app/view/global-irrigated-cropland-change" allowfullscreen></iframe>
</div>

<h3>Compare Irrigation</h3>

This map uses a sliding pane.  You can select 2 years, one for the left and another for the right.  Then use the slider
in the middle to see how the map changes for those years.

<div class="embed-responsive embed-responsive-4by3 mt-2 mb-5">
    <iframe class="embed-responsive-item lazy" src="https://deepakna.users.earthengine.app/view/comparing-irrigated-cropland-areas" allowfullscreen></iframe>
</div>

<hr>

<h2>Under Development</h2>

<p>We are developing another machine learning model that is more accurate than the previous one.  This also is at higher
    resolution.  Here we show a preview of its output for 2 years.</p>

<h3>Extent of Irrigated Croplands, 2010</h3>

<div class="embed-responsive embed-responsive-4by3 mt-2 mb-5 collapsed">
    <iframe class="embed-responsive-item lazy" src="https://brianneesby.users.earthengine.app/view/timeseries20101km" allowfullscreen></iframe>
</div>

<h3>Extent of Irrigated Croplands, 2015</h3>

<div class="embed-responsive embed-responsive-4by3 mt-2 mb-5 collapsed">
    <iframe class="embed-responsive-item lazy" src="https://brianneesby.users.earthengine.app/view/timeseries20151km" allowfullscreen></iframe>
</div>
