<!-- START THE FEATURETTES -->
<div class="container">
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">{{ site.data.pitch1.heading }} <span class="text-muted">{{ site.data.pitch1.subheading }}</span></h2>
        <p class="lead">{{ site.data.pitch1.pitch }}</p>
    </div>
    <div class="col-md-5">
        <img class="mx-auto img-fluid" src="{{ site.data.pitch1.image }}">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{ site.data.pitch2.heading }} <span class="text-muted">{{ site.data.pitch2.subheading }}</span></h2>
        <p class="lead">{{ site.data.pitch2.pitch }}</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="mx-auto img-fluid" src="{{ site.data.pitch2.image }}">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">{{ site.data.pitch3.heading }} <span class="text-muted">{{ site.data.pitch3.subheading }}</span></h2>
        <p class="lead">{{ site.data.pitch3.pitch }}</p>
    </div>
    <div class="col-md-5">
        <img class="mx-auto img-fluid" src="{{ site.data.pitch3.image }}">
<!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
</div>
