<div class="container">
    <div class="row text-center">
        <div class="col-md-4 col-xs-12 text-center">
            <img src="/assets/icons/map.svg" alt="Map">
            <p>{{ site.data.whatwhyhow.what }}</p>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="/assets/icons/irrigation.svg" height="133" width="133" alt="Irrigation">
            <p>{{ site.data.whatwhyhow.why }}</p>
        </div>
        <div class="col-md-4 col-xs-12">
            <img src="/assets/icons/satellite.svg" height="133" width="133" alt="Satellite">
            <p>{{ site.data.whatwhyhow.how }}</p>
        </div>
    </div>
</div>
